    .container {
        /* background-color: rgb(255, 255, 255); */
        background-image: url('../imagenes_pro/fondo.jpg');
        background-repeat: repeat-y;
        background-size: 100%;
        background-attachment: fixed;
        padding-top: 1px;
        margin-top: 20px;
    }
    
    .container {
        padding-top: 20px;
        text-align: center;
    }
    
    .logos {
        text-align: center;
    }
    
    .logos img {
        width: 200px;
    }
    
    .body {
        /* /background-color: rgb(32, 43, 92); */
        font-family: Arial, Helvetica, sans-serif;
        background-image: url('../imagenes_pro/fondo.jpg');
        background-repeat: repeat-y;
        background-size: 100%;
        background-attachment: fixed;
    }
    
    .body h3 {
        color: rgb(73, 38, 18);
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    h5 {
        color: rgb(49, 73, 18);
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    .infook {
        color: rgb(29, 88, 15);
        padding-bottom: 10px;
    }
    
    .infomal {
        color: rgb(214, 30, 30);
        padding-bottom: 10px;
    }
    
    h1 {
        color: rgb(49, 73, 18);
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    #btn1 {
        margin-bottom: 10px;
    }
    
    #btn2 {
        margin-bottom: 10px;
    }
    
    #btn3 {
        margin-bottom: 10px;
    }
    
    .sombra {
        box-shadow: 2px 3px 20px rgba(0, 0, 0, 548);
    }
    
    .margen {
        margin-top: 50px;
        display: flex;
        /* background: rgb(194, 192, 192); */
        border-radius: 20px;
    }
    
    .margen .formu {
        background: rgb(194, 192, 192);
        /*background-image: url('../imagenes_pro/fondo2.jpg');
    background-repeat: repeat-y;
    background-size: 100%;
    background-attachment: fixed;
    border-radius: 30px;*/
        border-radius: 20px;
    }